# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
/.settings/

# Output folders
/EXP1XD/
/EXP1XD-Debug/
/EXP3HC/
/EXP3HC-Debug/
/EXP3HC-Debug-with-bootloader/
/EXP3HC-Release-no-bootloader/
/TOOL1LC/
/TOOL1LC-Debug/
/SAMMYC21/
/SAMMYC21-Debug/
/ATECM/
/ATEIO/
/EXP1HCL/
/EXP1HCL-Debug/
/RPiPico/
/M23CL/
/M23CL-Debug/
/Fly36RRF/
/SZP/
/TOOL1RR/
/F3PTB/
/.clangd
/.clang-format
/FeatherM4CAN/
/FeatherM4CAN-Debug/
.vscode/settings.json
AI_Readme.txt
src/ClosedLoop/ClosedLoop.bad_cascade.cpp
123_2025-12-12_20.50.41.csv
123_2025-12-12_20.52.55.csv
50_2025-12-15_06.59.47.csv
/SAMME51/
/DP3EXB/
.cproject
.vscode/settings.json
AI_Readme.txt
Duet3Expansion FeatherM4CAN.launch
50_2026-07-11_16.58.37.csv
50_2026-07-11_17.09.11.csv
foc roadmap.md
